* {
  padding: 0;
  margin: 0;
}
body {
background-image: url(./montain.jpg);
background-repeat: no-repeat;
background-size: cover;
}
.body {
width: 50%;
height: 20vh;
display: table;
margin:30vh auto;
background-color: #c7c1c161;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
border-radius: 12px;
padding: 0px 2px 0px 2px;
}
.header {
background-color: #4486c8e6;
border-radius: 5px;
padding:2px;
align-items: center;
}
.header h4 {
text-align: center;
color: #fff;
margin-top: 3px;
}
.time {
/* margin-top: 10px; */
}
.start {
margin-top: 20px;
width: 30%;
height: 30px;
margin: auto;
display: table;
padding: 1px;
border-radius: 12px;
background-color: #38E380;
border-color: #38E380;
}
.stop {
margin-top: 20px;
width: 30%;
height: 30px;
margin: auto;
display: table;
padding: 1px;
border-radius: 12px;
background-color: #ff4d4f;
border-color: #ff4d4f;
}
.clear {
margin-top: 20px;
width: 30%;
height: 30px;
margin: auto;
display: table;
padding: 1px;
border-radius: 12px;
background-color: #ffc53d;
border-color:#ffc53d;
}
.footer {
margin-top: 10px;
border-radius: 5px;
padding:2px;
align-items: center;
background-color: #f0f2f5;
}
.footer h6 {
text-align: center;
color: #001529;
margin-top: 3px;
}
#button{
  margin-top: 30px;
}
#start  {
background-color: #38E380;
width:50%;
height: 40px;
text-align: center;
align-items: center;
display: flex;
justify-content: center;
margin-left: 10px;
}
#stop {
background-color: #ff4d4f;
width: 47%;
height: 40px;
text-align: center;
align-items: center;
display: flex;
justify-content: center;
}
#minute {
background-color: #FFA07A;
width: 50%;
height: 40px;
text-align: center;
align-items: center;
display: flex;
justify-content: center;
margin-left: 10px;
}
#money {
background-color: #9EF0C1;
width: 47%;
height: 40px;
text-align: center;
align-items: center;
display: flex;
justify-content: center;
}
